.App {
  text-align: center;
  background: radial-gradient(ellipse at center, #007334 5%,#125a33 85%);
  height: inherit;
  width: 100%;
  position: absolute;
}

.App h1{
  font-family: Luminari, fantasy;
  font-weight: bold;
  font-size: 3em;
}


.playing-space{
  height: 30vh;
}

.control-space{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8vh;
}

.playing-hand{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 10em;
  margin-right: 4em;
}

.score{
  color: white;
  background: #075207;
  border-radius: 51%;
  font-size: 2.3em;
  width: 1.6em;
  font-weight: bold;
  margin: auto;
}


.circle-btn{
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.29);
  transition: .8s;
}

.circle-btn:hover{
  cursor: pointer;
}

.circle-btn.red{
  background: #bb3131;
  border-bottom: solid 1px #462929;
}

.circle-btn.green {
  background: #0a9c2b;;
  border-bottom: solid 1px #058e43;
}

.circle-btn:active{
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}


.mr-6{
  margin-right: 10em;
}
