.App {
  text-align: center;
  background: radial-gradient(ellipse at center, #007334 5%,#125a33 85%);
  height: inherit;
  width: 100%;
  position: absolute;
}

.App h1{
  font-family: Luminari, fantasy;
  font-weight: bold;
  font-size: 3em;
}


.playing-space{
  height: 29vh;
  margin-bottom: 1.2em;
}

.control-space{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8vh;
}

