.App {
  text-align: center;
  background: darkgreen;
  height: inherit;
  width: 100%;
  position: absolute;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.playing-space{
  height: 30vh;
}

.playing-hand{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
