.playing-card{
    width: 90px;
    z-index: 1;
}

.playing-card:hover{
    z-index: 2;
}

.cardWrapper {
    overflow: hidden;
}

.cardWrapper:last-child, .cardWrapper:hover {
    overflow: visible;
}

.card {
    width: 2.5em;
    border: none;
    background: transparent;
    justify-content: center;
    align-items: center;
}
